spring:
  application:
    name: cloud-app

  datasource:
    url: jdbc:postgresql://localhost:5432/cloud_db
    username: postgres
    password: 123456
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

    servlet:
      multipart:
        enabled: true
        max-file-size: 10MB
        max-request-size: 10MB

server:
  port: 8080